click==8.3.1
exifread==3.5.1
ffmpeg-python==0.2.0
google-api-python-client==2.187.0
# Google Photos API
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
opencv-python==4.12.0.88

# Data handling
pandas==2.3.3

# File handling and utilities
pathlib2==2.3.7.post1

# Image/Video Processing
Pillow==12.0.0
pillow-heif==1.1.1

# Testing
pytest==9.0.2
pytest-mock==3.15.1

# Configuration and logging
python-dotenv==1.2.1
python-magic==0.4.27
pyyaml==6.0.3
tqdm==4.67.1
